<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
<% if @store.active? %>
      <%= @store.name %>
<% else %>
     <del><%= @store.name %></del>
<% end %>
</p>

<p>
  <b>User:</b>
  <%= @store.user_id %>
</p>
<%= link_to 'New Item', new_store_item_path(@store) %> |
<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
