<p id="notice"><%= notice %></p>

<p>

<h2> <%= @item.title %></h2>
</p>

<p>
  <%= @item.description %>
</p>

<p>
  <b>Location:</b>
  <%= @item.location %>
</p>


<%= link_to 'Contact Owner', "#" %>
