<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>

<p>
  <b>Location:</b>
  <%= @item.location %>
</p>

<p>
  <b>Owner:</b>
  <%= @item.store.name %>
</p>


<%= link_to 'RentIt', "#" %> | <%= link_to 'Contact Owner', "#" %> |
<%= link_to 'Items', "/rents" %>
