<h1>Editing item</h1>

<%= form_for @item, :url => store_item_path(@store,@item) do |f| %>
<% if @item.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

    <ul>
    <% @item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
  <%= f.label :description %><br />
  <%= f.text_field :description %>
</div>
<div class="field">
  <%= f.label :location %><br />
  <%= f.text_field :location %>
</div>
<div class="actions">
  <%= f.submit %>
</div>

<% end %>

<%= link_to 'Destroy', store_item_path(params[:store_id],@item), confirm: 'Are you sure?', method: :delete %></td>
<%= link_to 'Show', store_item_path(params[:store_id],@item) %> |
<%= link_to 'Items', store_items_path(params[:store_id]) %>
