<h1>Edit rental</h1>

<%= form_for @item, :url => store_item_path(@store,@item) do |f| %>
<% if @item.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

    <ul>
    <% @item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
  <%= f.label :location %><br />
  <%= f.text_field :location %>
</div>
<div class="field">
  <%= f.label :title %><br />
  <%= f.text_field :title %>
</div>
<div class="field">
  <%= f.label :description %><br />
  <%= f.text_area :description, :cols => 132, :rows => 20  %>
</div>
<div class="field">
 <%= f.label :active %>
  <%= f.check_box :active %>
</div>

<div class="actions">
  <%= f.submit %>
</div>

<% end %>
