<h1>Rentable Items</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Location</th>
    <th>Owner</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 <% @items.each do |item| %>
  <tr>
    <td><%= item.description %></td>
    <td><%= item.location %></td>
    <td><%= item.store.name %></td>
    <td><%= link_to 'Show', store_item_path(params[:store_id],item) %></td>

  
  </tr>
<% end %>
<tr><td><%= link_to 'New Item', new_store_item_path(@store) %></td></tr>

</table>

<br />


