<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>

<p>
  <b>Location:</b>
  <%= @item.location %>
</p>

<p>
  <b>Owner:</b>
  <%= @item.owner_id %>
</p>


<%= link_to 'Edit', edit_store_item_path(@store,@item) %> |
<%= link_to 'Items', store_items_path(@store) %>
