<!DOCTYPE HTML>
<html>
  <head data-hook="inside_head">
    <%= render 'shared/head' %>
  </head>
  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
    <div id="header" data-hook>
      <ul id="nav-bar" data-hook>
        <%= render 'shared/nav_bar' %>
      </ul>
      <div id="logo" data-hook>
        <%= logo %>
      </div>
    </div>

    <div id="wrapper" data-hook>
      <% if content_for?(:sidebar) %>
        <div id="sidebar" data-hook>
          <%= yield :sidebar %>
        </div>
      <% end %>

      <div id="content" data-hook>
        <%= breadcrumbs(@taxon) %>
        <%= flash_messages %>
        <%= yield %>
      </div>
    </div>

 	<div id="footer" class="cantainer">
	<div align="center">
		<nav class="round">
			<ul>
				<li> <%= link_to "About", '#'  %></li>
				<li> <%= link_to "Contact", '#' %></li>	
	         </ul>
	</nav>

    <%= render 'shared/google_analytics' %>
  </body>
	<%= request.user_agent  if Rails.env.development? %> 
	<%= debug(params) if Rails.env.development? %>

</html>
